---
import {
  featuredArticles,
  featuredProjects,
  featuredWork,
} from "../lib/featured";
import { GLOBAL } from "../lib/variables";
import Layout from "../layouts/Layout.astro";
import Section from "../components/common/Section.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import FeaturedArticles from "../components/home/FeaturedArticles.astro";
import FeaturedWork from "../components/home/FeaturedWork.astro";
import List from "../components/List.astro";
---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.username} • {GLOBAL.shortDescription}</title>
    <meta name="description" content={GLOBAL.longDescription} />
    <meta property="og:title" content={`${GLOBAL.username}`} />
    <meta property="og:description" content={GLOBAL.longDescription} />
    <meta property="og:url" content={GLOBAL.rootUrl} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={GLOBAL.rootUrl} />
  </Fragment>
  <Section class="mt-4">
    <div class="flex flex-col">
      <h1
        class="text-3xl sm:text-4xl font-display font-semibold opsz text-left"
      >
        {GLOBAL.username}
      </h1>
      <List
        items={[
          "Incoming Graduate Software Developer",
          "Design, Innovative and Creative Engineering Graduate from QMUL",
        ]}
      />
    </div>
  </Section>
  <Section>
    <div class="flex flex-col pb-4">
      <h4 class="font-bold">What I'm currently learning / doing</h4>
      <ul class="mt-2 space-y-1 text-black dark:text-white list-disc">
        <li class="flex items-center text-lg">
          <span class="mr-2">•</span>
          <span>Machine Learning and AI</span>
        </li>
        <li class="flex items-center text-lg">
          <span class="mr-2">•</span>
          <span>Network Programming</span>
        </li>
        <li class="flex items-center text-lg">
          <span class="mr-2">•</span>
          <span>'Writing an Interpreter in Go' by Thorsten Ball</span>
        </li>
        <li class="flex items-center text-lg">
          <span class="mr-2">•</span>
          <span>nand2tetris</span>
        </li>
      </ul>
    </div>
  </Section>
  <Section>
    <div class="flex flex-col pb-4">
      <h4 class="font-bold">What I'm planning to do in the future</h4>
      <ul class="mt-2 space-y-1 text-black dark:text-white list-disc">
        <li class="flex items-center text-lg">
          <span class="mr-2">•</span>
          <span>Build a home server</span>
        </li>
        <li class="flex items-center text-lg">
          <span class="mr-2">•</span>
          <span>Build an 8-bit computer</span>
        </li>
      </ul>
    </div>
  </Section>
  <Section>
    <FeaturedProjects featuredProjects={featuredProjects} />
  </Section>

  <Section>
    <FeaturedArticles featuredArticles={featuredArticles} />
  </Section>
</Layout>
