---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS, GITHUB } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const current_projects = (await getCollection("projects"))
  .filter((project) => project.data.status === 'active')
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);


const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Awais Amjad ...
    </h1>

    <div class="space-y-16">
      <section>
        <div class="mt-7">
          <p class="animate">
            a software engineer with a passion for learning and building things.
            Check out my <Link href="/projects">projects</Link> to see what I've
            completed, what I'm currently working on, and what's planned for the
            future. You can also visit my <Link href=`${GITHUB.HREF}`
              >GitHub</Link
            > repository for the source code.
          </p>
        </div>
      </section>

      <!-- PROJECTS -->
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h4 class="animate font-semibold">
            What I'm currently working on &#8595;
          </h4>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            current_projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <!-- WORK EXPERIENCE -->
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h4 class="font-semibold text-black dark:text-white">
            Work Experience
          </h4>
          <Link href="/work"> See all my experiences </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li class="bg-stone-600 rounded p-2">
                <div class="flex justify-between items-center">
                  <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                  </div>
                  <div class="text-lg font-bold dark:text-white">
                  {entry.data.role}
                  </div>
                  <div class="text-lg opacity-75 italic">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                </div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
        <section>
          <article class="space-y-4">
            <p class="animate">
              <strong class="italic">Need a document? </strong>
              &nbsp;Feel free to take a look at my
              <Link href="/cv">CV</Link>
            </p>
          </article>
        </section>
      </section>

      <!-- POSTS -->
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <p class="animate">
            Explore my posts for my thoughts on software development and
            technology.
          </p>
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <article>
          <p>
            If you want to get in touch with me reach out to my <Link
              href="https://www.linkedin.com/in/awais-amjad-145aa7215/"
              >LinkedIn</Link
            > or send me an
            <Link href={`mailto:${SITE.EMAIL}`}>Email</Link>.
          </p>
        </article>
      </section>
    </div>

  </Container>
</PageLayout>
