---
import { GLOBAL } from "../lib/variables";
import Anchor from "./common/Anchor.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { Image } from "astro:assets";
import githubIcon from "../../public/images/social/github.svg";
import linkedinIcon from "../../public/images/social/linkedin.svg";
import emailIcon from "../../public/images/social/email.svg";
---

<header class="bg sticky top-0 w-full z-10">
  <div class="bg sm:hidden relative z-50 py-4 flex items-center">
    <button class="px-4" aria-label="Toggle navigation menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
        class="zag-fill"
      >
        <path d="M80 96h352v32H80zm0 144h352v32H80zm0 144h352v32H80z"></path>
      </svg>
    </button>
  </div>
  <nav
    class="bg fixed sm:relative inset-x-0 top-0 h-auto sm:px-4 flex justify-between flex-col gap-8 py-4 text-xl sm:flex-row max-w-2xl mx-auto sm:pt-4 sm:border-none"
  >
    <div
      class="flex flex-col font-medium gap-4 sm:flex-row px-4 sm:px-0 mt-16 sm:mt-0"
    >
      <Anchor url="/" class="text-2xl font-extrabold">HOME</Anchor>
      {
        ["projects", "blog", "work"].map((item) => (
          <Anchor url={`/${item}`}>{item}</Anchor>
        ))
      }
    </div>
    <div class="flex gap-4 justify-between px-4 sm:px-0">
      {
        GLOBAL.githubProfile && (
          <Anchor
            url={GLOBAL.githubProfile}
            aria-label="GitHub Profile"
            external
          >
            <Image src={githubIcon} alt="github icon" inferSize={true} />
          </Anchor>
        )
      }

      {
        GLOBAL.linkedinProfile && (
          <Anchor
            url={GLOBAL.linkedinProfile}
            aria-label="LinkedIn Profile"
            external
          >
            <Image src={linkedinIcon} alt="github icon" inferSize={true} />
          </Anchor>
        )
      }
      {
        GLOBAL.email && (
          <Anchor
            url={`mailto:${GLOBAL.email}`}
            aria-label="Send Email"
            external
          >
            <Image src={emailIcon} alt="github icon" inferSize={true} />
          </Anchor>
        )
      }

      <ThemeToggle />
    </div>
  </nav>
</header>

<script>
  const button = document.querySelector("button");
  const nav = document.querySelector("nav");
  let isOpen = false;

  function updateNavState() {
    const isMobile = window.matchMedia("(max-width: 640px)").matches;
    if (isMobile) {
      nav!.style.transform = isOpen ? "translateY(0)" : "translateY(-100%)";
    } else {
      nav!.style.transform = "translateY(0)";
      isOpen = false;
    }
  }

  function toggleNav() {
    isOpen = !isOpen;
    updateNavState();
  }

  button?.addEventListener("click", toggleNav);
  window.addEventListener("resize", updateNavState);

  updateNavState();
</script>
