---
import Anchor from "./common/Anchor.astro";
import type { Month, WorkFrontmatter } from "../lib/types";
import type { MarkdownLayoutProps } from "astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  githubUrl?: string;
  liveUrl?: string;
  monthStart?: string;
  monthEnd?: string;
  yearStart?: number;
  yearEnd?: number;
  tags: string[];
};

const { title, description, url, githubUrl, liveUrl, tags, monthEnd, monthStart, yearEnd, yearStart } = Astro.props;
// type Props = MarkdownLayoutProps<WorkFrontmatter>;

// const { frontmatter } = Astro.props;
---

<div class="flex flex-col gap-3 pb-8">
  <div class="flex flex-col gap-3 sm:flex-row sm:justify-between">
    <Anchor url={url ?? ''} class="text-xl">
      {title}
    </Anchor>
    <div class="flex gap-2">
      {
        githubUrl ? (
          <Anchor url={githubUrl} class="text-base" external>
            GitHub
          </Anchor>
        ) : null
      }
      {
        liveUrl ? (
          <Anchor url={liveUrl} class="text-base" external>
            Live
          </Anchor>
        ) : null
      }
    </div>
  </div>
  <p class="zag-text">
    {description}
  </p>
  <div class="flex flex-row flex-wrap gap-2 outline">
    {
      tags.map((tag) => (
        <span class="-zag-text -bg  px-2 py-1 text-sm font-semibold">
          {tag}
        </span>
      ))
    }
  </div>
</div>
